<!DOCTYPE html>
<html lang="en" dir="ltr">
<head>
<!-- Meta, title, CSS, favicons, etc. -->
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta charset="utf-8">
    <title>Crypto Converter</title>
<!-- Meta, title, CSS, favicons, etc. -->  

<!----------------- bootstrap ----------------------->
    <link rel="stylesheet" href="vendor/bootstrap/css/bootstrap.min.css">
    <link rel="stylesheet" href="vendor/font-awesome/css/font-awesome.min.css">
<!----------------- bootstrap ------------------------->


<!-------------------------JS------------------------------------->
  <script src="vendor/jquery/jquery.min.js"></script>
  <script src="vendor/bootstrap/js/bootstrap.min.js"></script>
  <script src="angular/angular.min.js"></script>
<!--------------------------------------------------------------->

</head>

<body ng-app = "myApp" ng-controller="myCtrl" style="background-color: whitesmoke">

  <div class="container">
    <form>
      <div class="form-group">

<div class="container jumbotron">
    <h1 class="text-center">Cryptocurrency Converter</h1>

    <p class="text-center">Convert Various Cryptocurrency into Fiat Currency</p>
</div>
          <div class="table-responsive" style="padding-top: 50px;">
              <table class="table table-bordered">
                <tbody>
                    <tr>
                       <td>
                          <select class="form-control" ng-model="selectedCoin" ng-options="x for (x, y) in crypto" readonly>
                            <option value="" disabled selected>Select Cryptocurrency</option>
                            </select>
                        </td>

                        <td>
                          <input type="number" class="form-control margintop" ng-model = "coin" >
                        </td>
                    </tr>

                    <tr>
                        <td>
                            <select class="form-control" ng-model="selectedCurrency" ng-options="x for x in currency" readonly>
                              <option value="" disabled selected>Select Fiat Currency</option>
                            </select>
                        </td>

                        <td>
                          <input type="number" class="form-control margintop" ng-model="selectedCoin()">
                        </td>

                    </tr>

                </tbody>
              </table>
          </div>
      </div>
    </form>  
  </div>

</body>
<script src="angular/ctrl.js"></script>
</html>
